.gallery {
    .gallery-image-box {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        overflow: hidden;
        .gallery-image {
            position: absolute;
            top: 0; left: 0;
            object-fit: cover;
            width: 100%; height: 100%;
        }
        &:hover {
            cursor: pointer;
        }
    }
    // Gallery Modal
    .modal-dialog {
        height: 100vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: initial;
    }
    .modal-content {
        background: transparent;
        box-shadow: none;
        position: initial;
    }
    .modal-body {
        padding: 0;
        background: transparent;
        position: initial;
    }
    .gallery-modal-backdrop {
        position: absolute;
        top: 0; left: 0;
        z-index: -1;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        .gallery-modal-backdrop-image {
            transform: scale(2);
            display: block;
            margin: 0 auto;
            max-width: 100%;
            object-fit: cover;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
        .gallery-modal-backdrop-veil {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.8);
            position: absolute;
            top: 0; left: 0;
        }
    }
    .gallery-modal-box {
        background: transparent;
        display: flex;
        justify-content: center;;
        align-items: center;
        flex-direction: row;
        .gallery-modal-close {
            position: absolute;
            top: 0; left: 0;
        }
        .gallery-modal-control {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background: #fff;
            display: flex;
            justify-content: center;;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
        }
        .gallery-modal-image {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 100vh;
            object-fit: cover;
        }
    }
}
