.slider {
	position: relative;
	.slider-veil {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.4;
	}

	.slider-quote {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-style: italic;
		.quote-box {
			text-align: center;
		}
	}
}
